.back-button {
  font-size: 1.1rem;
  font-weight: 800;
  cursor: pointer;
  margin-bottom: 2rem;
}

.back-button:hover {
  text-decoration: underline;
}

.back-button img {
  width: 30px;
  margin-right: 10px;
}
