.cart-item {
  display: flex;
  align-items: center;
  margin: 2rem 0;
}

.cart-item img {
  width: 100px;
  margin-right: 20px;
}

.cart-item .category {
  margin-top: -10px;
  font-size: 12px;
}

.cart-item button {
  text-align: center;
  padding: 0;
  border: 0;
  outline: 0;
  cursor: 0;
  width: 20px;
  background-color: transparent;
}

.cart-item button img {
  width: 20px;
  transition: all 0.3s ease-in-out;
}

.cart-item button:hover img {
  transform: scale(1.2);
}
