.why_choose_us .card {
  border: 0;
  padding: 1rem;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.041);
  border-radius: 10px;
  padding-bottom: 2rem;
  transition: 0.3s ease;
}

.why_choose_us .card-img-box {
  border-radius: 10px;
  overflow: hidden;
}

.why_choose_us .card:hover {
  transform: scale(1.03);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.why_choose_us .card-img-top {
  width: 100%;
  object-fit: cover;
  transition: 0.3s ease;
  border-radius: 10px;
}

.why_choose_us .card-img-top:hover {
  transform: scale(1.1);
}

.why_choose_us .card-icon {
  width: 40px;
  background-color: rgb(221, 221, 221);
  padding: 6px;
  border-radius: 50%;
}
